@import "./../style-master";

.header {
  background-color: black;
  width: 100vw;
  height: 70px;
  color: #e21b22;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}

.logo {
  margin: 5px;
}

.header-link {
  @include text-btn();
}

.header-link:hover {
  @include text-btn-hover();
}

.logo:hover {
  cursor: pointer;
}
