$black: #000000;
$grey: #6689a1;
$blue: #252580;
$red: #d00000;
$rose: #e80036;
$cherry: #ff101f;
$snow: #eff1f3;
$white: #ffffff;

@mixin center-all {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

@mixin center-top {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}

@mixin top-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
}

@mixin text-btn {
  text-decoration: none;
  font: menu;
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  color: $red;
  font-weight: normal;
  cursor: pointer;
  display: inline-block;
}

@mixin text-btn-hover {
  cursor: pointer;
  background: #220405;
}
