@import "./../style-master";

.login {
  @include center-all;
  width: 100vw;
  height: 90vh;
}

.text-input {
  @include input;
}

.text-input:focus {
  outline: none;
}

.login-btn {
  @include text-btn;
}

.login-btn:hover {
  @include text-btn-hover;
}
